<div *ngIf="dueCard" [@flyOut]>
  <div class="row-margin text-right">
  </div>
  <div class="well">
    <span class="label label-success">{{dueCard.word | stars }}</span>
    <span *ngIf="dueCard.gender"><i class="fa fa-venus-mars"></i></span>

  </div>
  <div class="well" [innerHtml]="dueCard.front | mask  | image"></div>
  <div class="row-margin">
    <input type="text" class="form-control" placeholder="type word" (keyup)="onSolutionKey($event)">
    <button class='btn btn-default btn-block' (click)="reveal()">Show</button>
  </div>
  <div *ngIf="revealed">
    <div class="well">
      <span class="label label-success">{{dueCard.word}}</span>
      <span *ngIf="dueCard.gender" class="label label-danger" [innerHtml]="dueCard.gender | gender"></span>
    </div>
    <div class="well" [innerHtml]="dueCard.front | result | image"></div>
    <div class="row-margin">
      <button class='btn btn-default btn-block btn-lg' (click)="learnCard(dueCard, 0)">again</button>
      <button class='btn btn-default btn-block btn-lg' (click)="learnCard(dueCard, 240)">4 hours</button>
      <button class='btn btn-default btn-block btn-lg' (click)="learnCard(dueCard, 720)">12 hours</button>
      <button class='btn btn-default btn-block btn-lg' (click)="learnCard(dueCard, 1440)">1 day</button>
      <button class='btn btn-default btn-block btn-lg' (click)="learnCard(dueCard, 4320)">3 days</button>
      <button class='btn btn-default btn-block btn-lg' (click)="learnCard(dueCard, 11100)">7 days</button>
      <button class='btn btn-default btn-block btn-lg' (click)="learnCard(dueCard, 43200)">30 days</button>
      <button class='btn btn-default btn-block btn-lg' (click)="learnCard(dueCard, 1440000000)">1000,000 days</button>
    </div>
    <button class='btn btn-info btn-block' (click)="onSelect(dueCard)">
      Edit
    </button>
  </div>
</div>
<div *ngIf="!dueCard">
  No card
</div>
